<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testes</title>
</head>
<body>

    <p>HAHAHAHAHAHH mas eu to rindo ah toa</p>

    <form action="/" method="POST">
            nome: <input type='text', name= "nome" >
            idade: <input type='text', name= "idade" >
            <button> enviar formulário</button>
    </form>
    
</body>
</html>