<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    
</head>
<body>

<section  class="conteiner">
       
    <h1> Modelão </h1>

    <form action="/" method="post">
    <label>nome</label>
    <input type="text" name="nome">

    <button>submit</button>
    </form>
 

    

   </section>
<script src="./assets/js/bundle.js"></script>

</html>