/* Color Theme Swatches in Hex */
.Design-gráfico-1-hex { color: #F077F2; }
.Design-gráfico-2-hex { color: #EAF205; }
.Design-gráfico-3-hex { color: #F2E205; }
.Design-gráfico-4-hex { color: #D9967E; }
.Design-gráfico-5-hex { color: #0D0D0D; }

.main{
  background-color: #7a7a7a ;
  padding: 30px;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.267);
  margin: 20px auto;
}

.main h1{
  font-size: 20px;
  text-align: center;
}



